.add-product-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.add-product-form {
  background: #1e2a38;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: white; /* Añadido para el texto blanco */
}

.add-product-form h2 {
  margin-bottom: 10px;
  color: white; /* Añadido para el texto blanco */
}

.add-product-form input {
  display: block;
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  background-color: #333; /* Fondo oscuro para inputs */
  color: white; /* Color del texto en inputs */
}

.add-product-form button {
  width: 100%;
  padding: 10px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.product-list {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.product-item {
  background: #1e2a38; /* Fondo oscuro para productos */
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 250px;
  text-align: center;
  color: white; /* Color del texto en productos */
}

.product-item img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}

.product-item h3 {
  margin: 10px 0;
  font-size: 1.2em;
}

.product-item p {
  margin: 5px 0;
}
