/* AddProductWithPreview.css */
.add-product-form {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #1c1e21;
  color: white;
  text-align: center;
}

.add-product-form h2 {
  margin-bottom: 20px;
}

.add-product-form input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f1f1f1;
  color: black;
}

.add-product-form button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.add-product-form button:hover {
  background-color: #0056b3;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

/* Estilo de cada tarjeta de producto */
.product-card {
  background-color: #686868; /* Color de fondo gris */
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  width: calc(25% - 20px); /* 4 productos por fila */
  box-sizing: border-box;
  text-align: center;
}

.product-card img {
  max-width: 100%;
  height: auto;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  border-radius: 10px; /* Bordes redondeados para la imagen */
}

.product-card button {
  width: 100%;
  padding: 5px;
  border: none;
  border-radius: 5px;
  background-color: #dc3545;
  color: white;
  cursor: pointer;
}

.product-card button:hover {
  background-color: #c82333;
}
