.carousel-container {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .carousel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  
  .carousel-items {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .carousel-item {
    min-width: 100%;
    position: relative;
    height: 450px; /* Altura fija para todas las imágenes */
    cursor: pointer; /* Cursor de puntero para indicar que es clicable */
  }
  
  .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegurar que la imagen cubra todo el área del contenedor */
    display: block;
  }
  
  .carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    padding: 20px;
    border-radius: 10px;
  }
  
  .carousel-caption h5 {
    font-size: 2rem;
    font-weight: bold;
  }
  
  .carousel-caption p {
    font-size: 1.25rem;
  }
  
  .prev, .next {
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
  }
  
  .prev {
    left: 10px;
  }
  
  .next {
    right: 10px;
  }
  